###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/vendor/
/composer.lock
.phpunit.result.cache
###< symfony/framework-bundle ###

###> IDE files ###
.idea/
.vscode/
###< IDE files ###
